body {
    background-color: #eeeeee;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: #a94442;
    /*color: #d9534f;*/


}
.pagtop {
    height: 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.pagbottom {
    height: 1px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1040;
}
.bgc-y {
    background-color: #ff6d00;
}
.bgc-g {
    background-color: #333333;
}
.bgc-b {
    background-color: #222222
}
.bgc-r {
    background-color: #a94442;
}
.bgc-r1 {
    background-color: #d9534f;
}

.c-w {
    color: #f8f8f8 !important;
}
.c-g{color: #555555!important;}

.logobox img {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 85px;
}
.header .headernav {
    padding-left: 0;
    padding-right: 0
}
.headernav ul {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    min-width: 140px;
}
.headernav li {
    width: 20%;
    float: left;
    font-size: 18px;
}
.headernav li a {
    display: block;
}
.headernav li a:hover {
    text-decoration: none;
    color: #a35050;
}
.md-li img {
    height: 40px;
    display: inline-block;
    margin: 15px auto 0
}
.headernav span {
    display: block;
    line-height: 30px;
}
.carousel-inner .item img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
.carousel-indicators {
    bottom: 0;
}
.carousel p {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .logobox img {
        display: block;
        margin: auto;
        height: 70px;
        padding: 6px 0;
    }
    .logobox {
        margin-left: -15px;
        margin-right: -15px;
        border-bottom: solid 1px #eeeeee;
        border-top: solid 1px #dddddd
    }

    .md-li img {
        height: 30px;
    }
    .headernav li {
        font-size: 16px
    }

    .pagtop, .pagbottom {
        display: none
    }
}
@media (max-width: 646px) {
    .banner1 img {
        position: absolute;
        width: 646px;
        left: 50%;
        margin-left: -323.19px;
    }
    .carousel-inner {
        position: relative;
        overflow: hidden;
        height: 170px;
    }
    .carousel-inner .item {
        position: absolute;
        width: 646px;
        left: 50% !important;
        margin-left: -323.19px;
    }
    .carousel-inner .item img {
        /*position: absolute;*/
        /*width: 646px;*/
    }
    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }
    .carousel-indicators .active {
        width: 10px;
        height: 10px;
    }

}
@media (min-width: 646px) {

    .banner1 img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
    .bottomnav li {
        display: inline-block;
        float: none;
        width: 10%
    }

}


.activity {
    margin-top: 40px;
    margin-bottom: 10px
}
.activity .thumbnail {
    background-color: inherit
}
.thumbnail {
    border: none
}
.thumbnail .caption {
    color: inherit;
}

.bottomnav img {
    display: block;
    margin: auto;
    height: 40px;
    padding: 6px 0;
}
.bottomnav {
    border-top: solid 1px #4f4f4f
}

.bottomaddress {
    padding: 10px 0;
}

.bottomcopyright p {
    margin: 0 auto;
    padding: 5px
}
.bottomnav a {
    color: #8e8e8e
}